{% extends 'base.html.twig' %}

{% block title %}Hello InitialController!
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
    <h1>Welcome to the atrinium technical test</h1>
    <div class="row">
        <figure class="col-xs-12 col-md-5">
            <img class="responsive-img-fit" src="https://support.atrinium.com/assets/media/logo/support_logo_atrinium.png" alt="Smiley face" height="42" width="42">
        </figure>
    </div>
{% endblock %}
