{% extends 'base.html.twig' %}

{% block title %}Company index
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
    <section class="section-new row justify-content-end">
        <a href="{{ path('company_new') }}">
            <button class="btn btn-success">
                <i class="fa fa-edit"></i>New</button>
        </a>
    </section>
    {{ include('components/table/table-companies/table-companies.html.twig') }}
{% endblock %}
